.profile-heading {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.profile-picture {
    height: 4rem;
    width: 4rem;
}

.card-body {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2em;
}

.card-body .heading {
    font-size: 33px;
    font-weight: 400;
}

.field-label {
    font-weight: 700;
}

.field-value {
    margin-inline-end: 0.5rem;
    color: var(--c-neutral-500);
    font-size: 26px;
}

.administration {
    padding: 1rem;
    background-color: var(--c-neutral-700);
    color: var(--c-white);
    border-radius: 0.5rem;
}

.administration > .heading {
    font-size: 26px;
    font-weight: 400;
}