.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(480px, calc(80vw - 8rem), 960px);
  margin: 0 auto;
  padding-block: 0.5em;
}

.header.clean {
  justify-content: right;
  transform: translateY(2rem);
}

.logo {
  height: 2em;
}

.link-home {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

/* -- Nav -- */

.nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 0.5em;
}

.nav > a {
  display: contents;
}

.nav-link {
  position: relative;
  block-size: 4em;
  inline-size: 4em;
  display: grid;
  place-items: center;
  background-color: var(--nav-bg);
  color: var(--nav-fg);
  border-radius: 9999px;
  cursor: pointer;
  --nav-bg: var(--c-secondary-500);
  --nav-fg: var(--c-white);
}

.nav-link:hover {
  --nav-bg: var(--c-secondary-700);
}

.nav-link:active {
  --nav-bg: var(--c-accent-500);
}

.nav-link.primary {
  --nav-bg: var(--c-primary-500);
}

.nav-link.primary:hover {
  --nav-bg: var(--c-primary-700);
}

.nav-link.primary:active {
  --nav-bg: var(--c-accent-500);
}

.nav-link svg {
  height: 45%;
}

.nav-link-indicator {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1.5rem;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  background-color: var(--c-primary-500);
  font-size: 0.75em;
  border-radius: 100%;
}

@media screen and (min-width: 960px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
  }
  .nav {
    width: min-content;
  }
}

@media screen and (max-width: 479px) {
  .header {
    width: 100%;
  }
}
