.layout {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.layout.login {
  flex-direction: row-reverse;
}

.form {
  width: clamp(360px, 40vw, 480px);
}

.logo {
  width: 20vw;
  text-align: center;
}

.link-swap {
  text-align: center;
}

@media screen and (max-width: 959px) {
  .logo {
    display: none;
  }
}
