.profile-heading {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.profile-picture {
  height: 4rem;
  width: 4rem;
  object-fit: contain;
  cursor: pointer;
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.card-body .heading {
  font-size: 33px;
  font-weight: 400;
}

.friends {
  order: 9999;
}

.field-label {
  font-weight: 700;
}

.field-value {
  margin-inline-end: 0.5rem;
  color: var(--c-neutral-500);
  font-size: 26px;
}

.friend-list {
  padding-block: 1em;
}

.friend-row {
  padding-block: 0.5em;
  display: flex;
  align-items: center;
  gap: 1em;
}

.friend-img {
  height: 2em;
  width: 2em;
  object-fit: contain;
}

.friend-name {
  flex: 1;
}

.friend-controls {
  --c-btn-text: var(--c-neutral-700);
  display: flex;
}

.no-friends {
  padding-block: 1em;
}

.list-icon {
  --c-btn-text-hover: var(--c-secondary-500);
}

.remove-icon {
  --c-btn-text-hover: var(--c-error-500);
}

.list-icon svg {
  height: 1.5em;
}

.form-input {
  min-width: 24em;
  padding-block: 0.5em;
  padding-inline: 1em;
  border: none;
  outline: none;
  margin-block: 1rem;
}

.controls {
  margin-block-start: 1em;
  display: flex;
  justify-content: center;
}

.search-form {
  display: flex;
  align-items: flex-end;
  gap: 1em;
}

.administration {
  padding: 1rem;
  background-color: var(--c-neutral-700);
  color: var(--c-white);
  border-radius: 0.5rem;
}

.administration > .heading {
  font-size: 26px;
  font-weight: 400;
}

.add-friends {
  position: relative;
}

.add-friends-label {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.25rem;
  height: 1.25rem;
  padding-block-end: 0.125em;
  font-size: 0.75rem;
  display: grid;
  place-content: center;
  background-color: var(--c-primary-500);
  border-radius: 9999px;
  transform: translate(50%, -50%);
}

.invitation {
  display: flex;
  align-items: center;
  gap: 1em;
  --c-btn-text: var(--c-neutral-500);
  --c-btn-bg-hover: transform;
  --btn-outline-hover: solid 2px currentColor;
}

.invitation-name {
  flex: 1;
}

.accept {
  --c-btn-text-hover: var(--c-success-500);
}

.deny {
  --c-btn-text-hover: var(--c-error-500);
}

.invitation-list {
  margin-block: 1em;
  color: var(--c-neutral-700);
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 960px) {
  .card-body {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: min-content 1fr;
    gap: 2em;
  }

  .friends {
    grid-column: 2;
    grid-row: 1 / 3;
  }

  .administration {
    height: fit-content;
  }
}
