.header {
    padding-block-start: 1em;
    display: flex;
    align-items: center;
    gap: 1em;
}

.header.clean {
    justify-content: right;
    align-items: flex-end;
    padding-inline: 12em;
}

.logo {
  height: 2em;
}