:root {
  --c-white: #ffffff;
  --c-black: #000000;
  --c-primary-500: #f000a2;
  --c-primary-700: #a31074;
  --c-secondary-500: #09d4da;
  --c-secondary-700: #089fa3;
  --c-neutral-50: #f3f3fc;
  --c-neutral-100: #e3e3ea;
  --c-neutral-300: #bcbcc9;
  --c-neutral-500: #878798;
  --c-neutral-700: #5a5a6e;
  --c-neutral-900: #45454b;
  --c-success-500: #11d961;
  --c-success-700: #08a35b;
  --c-error-500: #f04c00;
  --c-error-700: #a33f10;
  --c-accent-500: #f0ce00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

html,
body {
  background-color: var(--c-neutral-50);
  font-family: Mitr;
  color: var(--c-neutral-700);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

/* # === Layouts === # */

.main {
  width: clamp(480px, calc(80vw - 8rem), 960px);
  margin: 0 auto;
}

/* # === Components === # */

/* -- Buttons -- */

.btn {
  padding-block: 0.75em;
  padding-inline: 3em;
  background-color: var(--btn-bg, var(--c-neutral-500));
  color: var(--btn-fg, var(--c-white));
  font-family: Mitr;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn.primary {
  --btn-bg: var(--c-primary-500);
}

.btn.primary:hover {
  --btn-bg: var(--c-primary-700);
}

.btn.primary:active {
  --btn-bg: var(--c-accent-500);
  --btn-fg: var(--c-neutral-700);
}

/* -- Cards -- */

.card {
  padding-block: 2em;
  padding-inline: 3em;
  background-color: var(--card-bg, var(--c-white));
  border-radius: 0.5rem;
  box-shadow: 0 0 1em var(--c-neutral-100);
}

.card-header {
  margin-block-end: 1em;
}

/* -- Forms -- */

.form-item:focus-within {
  --input-state: var(--c-secondary-500);
}

.form-item.invalid:not(:focus-within) {
  --input-state: var(--c-error-500);
}

.form-item.input {
  display: flex;
  flex-direction: column;
}

.form-item + .form-item {
  margin-block-start: 0.5em;
}

.input-label {
  order: 1;
  color: var(--input-state, var(--c-neutral-500));
  transform-origin: left;
  transition: 150ms ease-out;
  user-select: none;
}

.input-field {
  order: 2;
  padding-block: 0.5em;
  color: var(--c-neutral-700);
  font-family: Mitr;
  border: none;
  border-block-end: solid 2px var(--input-state, var(--c-neutral-300));
  outline: none;
  cursor: pointer;
}

.input-field:not(:focus):placeholder-shown + .input-label {
  transform: translateY(100%);
  cursor: pointer;
}

.input-field::placeholder {
  color: transparent;
}

.input-error {
  order: 3;
  margin-block-start: 0.5em;
  font-size: 0.75em;
  color: var(--c-error-500);
  display: none;
}

.invalid > .input-error {
  display: block;
}

.form-item.controls {
  display: flex;
  justify-content: center;
  margin-block: 2em 1em;
}
