:root {
  --c-white: #ffffff;
  --c-black: #000000;
  --c-primary-500: #f000a2;
  --c-primary-700: #a31074;
  --c-secondary-500: #09d4da;
  --c-secondary-700: #089fa3;
  --c-neutral-50: #f3f3fc;
  --c-neutral-100: #e3e3ea;
  --c-neutral-300: #bcbcc9;
  --c-neutral-500: #878798;
  --c-neutral-700: #5a5a6e;
  --c-neutral-900: #45454b;
  --c-success-500: #11d961;
  --c-success-700: #08a35b;
  --c-error-500: #f04c00;
  --c-error-700: #a33f10;
  --c-accent-500: #f0ce00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--c-neutral-50);
  font-family: Mitr;
  color: var(--c-neutral-700);
  overflow: auto;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

svg {
  height: 100%;
}

button svg {
  pointer-events: none;
}

p > svg {
  height: 1em;
}

a {
  color: inherit;
  text-decoration: inherit;
}

/* # === Layouts === # */

.main {
  width: clamp(480px, calc(80vw - 8rem), 960px);
  margin: 0 auto;
}

@media screen and (max-width: 479px) {
  .main {
    width: 100%;
  }
}

/* # === Utils === # */

.collapsed {
  display: none;
}

.filler {
  flex: 1;
}

.flow > * + * {
  margin-block-start: 1em;
}

.wrapper {
  display: contents;
}

/* # === Components === # */

/* -- Buttons -- */

.btn {
  padding-block: var(--btn-pb, 0.75em);
  padding-inline: var(--btn-pi, 3em);
  background-color: var(--btn-bg, var(--c-neutral-500));
  color: var(--btn-fg, var(--c-white));
  font-family: Mitr;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn.sm {
  --btn-pb: 0.25em;
  --btn-pi: 1em;
}

.btn:disabled {
  --btn-bg: var(--c-neutral-300);
  --btn-fg: var(--c-neutral-500);
  cursor: default;
}

.btn:not(:disabled).primary {
  --btn-bg: var(--c-primary-500);
}

.btn:not(:disabled).primary:hover {
  --btn-bg: var(--c-primary-700);
}

.btn:not(:disabled).primary:active {
  --btn-bg: var(--c-accent-500);
  --btn-fg: var(--c-neutral-700);
}

.btn:not(:disabled).secondary {
  --btn-bg: var(--c-secondary-700);
}

.btn:not(:disabled).secondary:hover {
  --btn-bg: var(--c-secondary-500);
}

.btn:not(:disabled).secondary:active {
  --btn-bg: var(--c-accent-500);
  --btn-fg: var(--c-neutral-700);
}

.icon-btn {
  --p: 0.5em;
  height: calc(2em + 2 * var(--p));
  aspect-ratio: 1;
  padding: var(--p);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--c-btn-bg, transparent);
  color: var(--c-btn-text, var(--c-primary-500));
  border: none;
  border-radius: 100%;
  outline: var(--btn-outline, none);
  cursor: pointer;
}

.icon-btn:hover {
  background-color: var(--c-btn-bg-hover, var(--c-neutral-100));
  color: var(--c-btn-text-hover, var(--c-btn-text));
  outline: var(--btn-outline-hover, none);
}

.icon-btn.xs {
  --p: 0;
}

.icon-btn.sm {
  --p: 0.25em;
}

.icon-btn.md {
  --p: 0.5em;
}

.icon-btn.lg {
  --p: 1em;
}

.icon-btn.xl {
  --p: 2em;
}

.inline-btn {
  background-color: transparent;
  color: var(--btn-fg, var(--c-secondary-700));
  font-family: Mitr;
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 1px;
  text-decoration-skip-ink: auto;
  border: none;
  outline: none;
  cursor: pointer;
}

.inline-btn:hover {
  text-decoration: none;
}

.inline-btn:active {
  --btn-fg: var(--c-accent-500);
  text-decoration: none;
}

/* -- Cards -- */

.card {
  padding-block: 2em;
  padding-inline: 3em;
  background-color: var(--card-bg, var(--c-white));
  border-radius: 0.5rem;
  box-shadow: 0 0 1em var(--card-shadow, var(--c-neutral-100));
}

@media screen and (max-width: 479px) {
  .card {
    padding-block: 1em;
    padding-inline: 1em;
  }
}

.card.main {
  --card-bg: var(--c-neutral-100);
  --card-shadow: var(var(--c-neutral-300));
}

.card.small {
  padding-block: 1em;
  padding-inline: 1em;
}

.card-header {
  margin-block-end: 1em;
}

.card-header > .heading {
  font-size: 42px;
}

/* -- Forms -- */

.form-item:focus-within {
  --input-state: var(--c-secondary-500);
}

.form-item.invalid:not(:focus-within) {
  --input-state: var(--c-error-500);
}

.form-item.input {
  display: flex;
  flex-direction: column;
}

.form-item + .form-item {
  margin-block-start: 0.5em;
}

.input-label {
  order: 1;
  color: var(--input-state, var(--c-neutral-500));
  transform-origin: left;
  transition: 150ms ease-out;
  user-select: none;
}

.input-field {
  order: 2;
  padding-block: 0.5em;
  background-color: transparent;
  color: var(--c-neutral-700);
  font-family: Mitr;
  border: none;
  border-block-end: solid 2px var(--input-state, var(--c-neutral-300));
  outline: none;
}

.input-field:not(:focus):placeholder-shown + .input-label {
  transform: translateY(100%);
  cursor: text;
}

.input-field::placeholder {
  color: transparent;
}

.input-error {
  order: 3;
  margin-block-start: 0.5em;
  font-size: 0.75em;
  color: var(--c-error-500);
  display: none;
}

.invalid > .input-error {
  display: block;
}

.form-item.controls {
  display: flex;
  justify-content: center;
  margin-block: 2em 1em;
}

/* -- Headings -- */

.heading {
  margin-block-end: 1em;
}

/* -- Icons -- */

.icon {
  display: inline-block;
  height: 1em;
}

/* -- Links -- */

.link {
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  text-underline-offset: 1px;
  color: var(--c-link, var(--c-secondary-500));
  cursor: pointer;
}

.link:hover {
  text-decoration: none;
  color: var(--c-link-hover, var(--c-secondary-700));
}

.link:active {
  color: var(--c-link-active, var(--c-accent-500));
}

/* -- Lists -- */

ul[class] {
  list-style-type: none;
}

/* -- Modals -- */

.modal-overlay {
  position: fixed;
  margin: 0;
  inset: 0;
  display: grid;
  place-items: center;
  background-color: rgb(0, 0, 0, 0.6);
}

.modal {
  background-color: var(--c-neutral-50);
  border-radius: 1em;
  padding: 2em;
  min-width: var(--modal-mw, 480px);
  min-height: var(--modal-mh, 640px);
}

.modal > .heading {
  font-size: 2rem;
  font-weight: 400;
}

.modal.xs {
  --modal-mw: 0px;
  --modal-mh: 0px;
}

/* -- Tables -- */

.table-header {
  display: none;
}

@media screen and (min-width: 960px) {
  .table-header {
    display: flex;
  }
}

.col {
  flex-basis: 100%;
}

/* === # Animations # === */
